<div class="container">
  <div class="navbar nav-8bit">
    <a routerLink="/home">Back</a>
  </div>

  <div class="container-fluid">
    <div class="title justify-content-center">PROJECT LIST</div>

    <div class="project-container mt-5">
      <div class="row">
        @for (item of projects; track $index) {
        <div class="col-4">
          <div class="project-content">
            <div class="project-image">
              <img src="" alt="" />
            </div>
            <div class="project-title d-flex justify-content-between mt-4">
              <h5 class="w-50">{{ item.title }}</h5>
              <span class="difficulty">S S S</span>
            </div>
            <button class="main-button mt-4">
              <a routerLink="/project-details" (click)="sendingProj(item)">
                Explore!
              </a>
            </button>
            <div class="project-information mt-4">
              <p>
                {{ item.shortInformation }}
              </p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
